# Composer
/vendor/
composer.lock

# IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Exports
/exports/*
!exports/.gitkeep

# Logs
*.log

# Environment
.env
.env.*
!.env.example

# Cache
*.cache 